*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    



    
    

}
body{
    color: #333;
    line-height: 1.5;
    overflow-x: hidden;
    background: linear-gradient(to top , #8d8daa, #dfdfde, #f7f5f2);

    

}
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: #ffffffa5;
    box-shadow: 0 3px 3px rgb(204, 202, 202);
    top: 0;
    z-index: 1000;
    padding: 1rem 2rem;
    
    
    
}
.logo{
    flex-shrink: 0;
}
.logoicon{
    width: 140px;
    height: auto;

}
.navbar{
    width: 100%;
    display: flex;
    
    align-items: center;
    
    
}
.nav-contain .bar{
    font-size: 25px;
    float: right;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.nav-contain ul{
    display: flex;
    flex-wrap: nowrap;
    float: right;
    margin-right: 20px;
}
.nav-contain li{
    display: inline-block;
    line-height: 80px;
    margin: 0 50px;
    
}
.nav-contain li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    

}
.nav-contain li a:hover{
    
    color: tomato;
    scale: 1.1;
   
    font-weight: 700;
    text-shadow: 0 0 40px tomato;

}
.important{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 80px);
    margin-top: 40px;
    margin-left: 50px;
    
}
.info{
    flex: 1;
    min-width: 300px;
    padding: 2rem;
    

}
.info h1{
    color: #333;
    font-size: 50px;
}
.info h3{
    color: #333;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 1.5px;
    
}
.info span{
    color: tomato;
    font-weight: bold;
}

    
    

.button{
    color: #fff;
    text-decoration: none;
    margin-top: 40px;
    
    display: inline-block;
    background-color: rgb(24, 22, 22);
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.2s linear;
    
}
.button:hover{
    box-shadow: 0 0 40px tomato;
    scale: 1.1;
    
    background-color: tomato;
    
}

.icon{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    
    margin-right: 370px;
    font-size: 25px;
    transition: 0.2s linear;
    
}
.icon i:hover{
    color: tomato;
    scale: 1.1;
}
.image{
    flex: 1;
    min-width: 300px;
    text-align: center;
    padding: 1rem ;
    margin-top: -18px;
    
    

}
.boy{
    max-width: 100%;
    height: auto;
    
    transition: transform 0.5s ease;
    
    
}
.boy:hover{
    transform: scale(1.05);
}



@media(max-width:768px){
    .navbar{
        position: relative;
        
    }
    .nav-contain .bar{
        display: block;
    }
    .nav-contain li{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        gap: 20px;
        
    }
    .icon{
        margin-right: 0px;
    }
    .important{
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        margin-left: 0px;

    }
    .info{
        padding: 1rem;
    }
    .image{
        padding: 1rem;
    }
    .boy{
        max-width: 80%;
    }
    


}
@media(max-width:480px){
    .logoicon{
        width: 90px;
    }
    .info h1{
        font-size: 40px;
    }
    .info h3{
        font-size: 13px;
    }
    .button{
        padding: 5px 10px;
        font-size:1rem ;
    }
    .icon{
        gap: 1.5rem;

    }
    .icon i{
        font-size: 20px
    }
    
}
